PORT=3002
CF_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=video-jobs-data
R2_PUBLIC_BASE_URL=
JOB_DATA_BUCKET_NAME=page-data
AIRTABLE_API_KEY=
AIRTABLE_TAGS_BASE_ID=
AIRTABLE_TAGS_TABLE=
OPENAI_API_KEY=
MIGRATE_BATCH_LIMIT=
